/* Global =================================================================*/
html{
    
    --fundo-segundario: #f5f5f5;
    --fundo-principal: #141414;
    --cor-principal: #f5be27;
    --cor-texto: #151515;
}

body {
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px; 

}

i,li,a{ 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
    font-style: normal;
}
