/* navigation ==============================================================*/

#home {
    display: flex;
    background-color: var(--fundo-principal);
    color: white;
    justify-content: center;

}

.logo {
    width: 40%;
}

.logo img {
    align-items: center;
    margin: 1rem;
}

.home {
    padding: 1rem 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home nav {
    width: 40%;
}

.home a {
    font-weight: 300;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}


.buttontop:hover {
    color: var(--cor-principal);
} 


/* header ==================================================================*/

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/background1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 16rem;
    margin: 0px;
    font-size: 6rem;
    font-weight: 500;
    line-height: 6rem;
    font-family: 'Times New Roman', serif;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

header p {
    padding-bottom: 16rem;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.3rem;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

/* info ===============================================*/

#info {
    background-color: var(--fundo-segundario);
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 6rem;
}

.info-texto {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.info-texto h2 {
    font-size: 3rem;
    margin-bottom: -1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
}

.info-texto p {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    color: #707070;
}

.info-texto span {
    margin-top: 1.3rem;
    width: 7rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

.info-foto{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.info-foto img {
    width: 80%;
}

/* operate ===============================================*/

#operate {
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../Images/background2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 1rem;
}

#operate h2 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

#operate .line {
    margin: 1rem;
    width: 11rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

.cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,400px);
    padding: 1rem;
    justify-content: center;
    justify-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
}

.card img {
    width: 7rem;
    padding: 1rem;
}

.card span {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 500;
}

.card p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.7rem;
}

/* mvv===================================================*/

#mvv {
    background-color: var(--fundo-segundario);
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
}

.mvv {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mvv h2 {
    margin: 0;
    font-size: 3rem;
    margin-bottom: -1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
}

#mvv p {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    color: #707070;
    text-align: center;
}

#mvv span {
    margin-top: 1.3rem;
    width: 7rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

/* contact===============================================*/

#contact  {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  var(--fundo-principal);
    color: white;
}

.logobutton{
    margin-top: 3rem;
    width: 60%;
}

.contact-info  p {
    margin-top: 1.4rem;
    margin-bottom: 0;
    font-size: 2rem;
}

.contact-info li,i {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.contact-info .social-midia {
    display: flex;
    flex-direction: row;
}

.smicon {
    margin-left: 1rem;
    margin-top: 2rem;
}

.smicon:first-child {
    margin-left: 0 ;
}

iframe {
    width: 700px;
    height: 345px;
}

/* footer==================================================================*/

footer {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1,3rem;
}


/* animations Text=========================================================*/

@keyframes text-focus-in {
    0% {
      filter: blur(6px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

/* midia==================================================================*/

@media only screen and (max-width: 1200px) {

        /*Info*/

        #info {
            width: 100%;
            padding: 0;

        }

        .info-texto {
            padding-left: 4rem;
            width: 100%;
            padding-bottom: 5rem;

        }

        .info-texto h2 {
            padding-top: 5rem;
            margin: 0;

        }

        .info-texto p {
            font-weight: 1.3rem;
        }

        .info-foto {
            margin: 3rem 0 2rem;
            width: 100%;
            justify-content: center;
        }
        

    #operate{
        width: 100%;
        padding: 5rem 0;
        justify-content: center;
    }

    .cards {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2,350px);
        padding: 1rem;
        justify-content: center;
        justify-items: center;
    
    }
    
    /*mvv*/

    .mvv {
        padding: 7rem 5;
    }

    .mvv h2{
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 315px;
    }

    /*contact*/

    .logobutton {
        margin: 0;
    }

}

@media only screen and (max-width: 769px) {

        /*nav*/

        #home div {
            padding-top: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .home ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0;
        }

        .home a {
            font-size: 18px;
        }

        .logo {
            display: flex;
            width: 60%;
            justify-content: center;
            align-items: center;

        }
    
        /*haeder*/
        
        .inicio h1 {
            padding-top: 9rem;
            font-size: 3.5rem;
            line-height: 3.5rem;
        }

        .inicio p {
            padding-bottom: 9rem;
            font-size: 1.3rem;
            line-height: 1.7rem;
        }
    
        /*Info*/
    
        #info {
            flex-direction: column;

        }

        .info-texto {
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;
        }

        .info-texto h2 {
            display: flex;
            justify-content: center;
        }

        .info-texto span {
            margin: 1rem;
        }

        .info-texto p {
            margin: 0;
            padding: 0 2rem 0 2rem;
            text-align: center;
            font-weight: 1.3rem;
        }

        .info-foto {
            margin: 3rem 0 7rem;
            width: 100%;
            justify-content: center;
        }
    
        /*operate*/

        #operate {
            justify-content: center;
            align-items: center;
        }

        #operate h2 {
            display: flex;
            text-align: center;

        }

        .cards {
            grid-template-columns: repeat(1,300px);
        }

        /*mvv*/
        
        #mvv {
            padding: 0;
        }

        #mvv h2 {
            display: flex;
            justify-content: center;
        }

        .mvv {
            padding-top: 7rem;
        }

        .mvv span {
            margin: 1rem;
        }

        .mvv p {
            margin: 0;
            text-align: center;
        }

        /*contact*/
        
        #contact {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 100%;
            padding: 0px;
        }

        .logobutton {
            margin-top: 2rem;
            width: 60%;
        }
        

        .contacticone{
            justify-content: center;
            align-items: center;
        }

        #contact p {
            font-size: 25px;
            margin-bottom: 1.5rem;
        }

        #contact a, i {
            font-size: 18px;
            margin: 0;
        }

        .social-midia {
            margin-bottom: 2rem;
            justify-content: center
        }

        iframe {
            width: 90%;
            height: 250px;
            margin-bottom: 2rem;
        }
}
