/* navigation ==============================================================*/

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--aa);
    width: 70%;
}

nav , a {
    text-decoration: none;
    color: var(--a);
    font-weight: 500;
    font-size: 18px;
    background-color: var(--aa);
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    text-align: center;
    padding: 0;
    width: 100%;

}
.buttontop {
    padding: 1rem;
}


.buttontop:hover {
    animation: text-pop-up-top 0.5s ease-out both;
}

/* home ==================================================================*/

.logo {
    align-items: center;
    width: 20rem;
    background: var(--aa-) ;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--aa);
}

/* header ==================================================================*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--a);
    text-align: center;
    padding: 20px;
}

header h1 {
    padding: 0;
    font-size: 3rem;
    font-weight: 700;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
header p {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 200;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

.buttonhaeder {
    padding: 10px 30px;
    font-size: .9rem ;
    background-color: rgba(0, 0, 0, 0.205);
    outline-width: 1px;
    outline-style: groove;
    outline-color: rgb(255, 255, 255);
    margin-bottom: 2.5rem;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

.buttonhaeder:hover {
    background:rgba(0, 0, 0, 0.631);
    transition: 0.7s;
}
/* info ===============================================*/

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color:  var(--aa);
    color: var(--a);
}

#info p {
    margin-bottom: 2.5rem;
    max-width: 1000px;
    align-items: center;
 }

#info h2 {
    font-size: 2rem;
    margin-bottom: -1rem;
}

#info h3 {
    color: var(--aaa);
    margin-top: 3rem;
    margin-bottom: -2rem;
}

.buttoninfo {
    padding: 10px 30px;
    font-size: .9rem ;
    outline-width: 1px;
    outline-style: groove;
    outline-color: var(--aaa);
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}

.buttoninfo:hover {
    color: var(--aa);
    background-color: var(--aaa);
    transition: 0.7s;
}


/* operate ===============================================*/

#operate {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  var(--aaa);
    color: var(--aa);
}

#operate h2 {
    margin-top: -1.5rem;
    font-size: 2.5rem;
}

#operate h3 {
    font-size: 1.2rem;
}
.iconeoperate {
    width: 15rem;
    margin-top: -2rem;
}

/* contact===============================================*/

#contact  {
    padding-top: 2rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  var(--aa);
    color: var(--a);
}

#contact  h2 {
    margin-bottom: -1rem;
    font-size: 2.5rem;
}

.contact2 {
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.contact3 {
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* footer==================================================================*/

footer {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1,3rem;
}

/* animations Background===================================================*/


/* animations Text=========================================================*/

@keyframes text-pop-up-top {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-5px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }

@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

/* midia==================================================================*/

@media screen and (min-width : 860px) {

    /*nav*/

    .logo {
        align-items: left;
        justify-content: left;
        text-align: left;
        width: 20rem;

    }

    nav {
        align-items: center;
        flex-direction: row;
        width: calc(50% + 20%);
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        display: inline-block;
        margin: 0 10px;
        width: 100%;
    }

    /*haeder*/

    header {
        height: 800px;
        height: 80vh;
    }

    header h1 {
        padding-top: 3rem;
        font-size: calc(3em + 3vh);
        padding-bottom: 0rem;
    }

    header p {
        font-size: calc(1em + 1vh) ;
    } 

    .buttonhaeder {
        padding: 15px 30px;
        font-size: 1.3rem ;

    }

    /*Info*/

    #info {
        height: 1000px;
        height: 100vh;
        justify-content: center;
        min-height: 250px;
    }

    #info p {
        font-size: calc(1em + 0.5vh);
     }
    
    #info h2 {
        font-size: calc(1em + 2vh);
        margin-bottom: -1rem;
    }
    
    #info h3 {
        color: var(--aaa);
        margin-top: 3rem;
        margin-bottom: -2rem;
    }
    

    .buttoninfo {
        padding: 10px 30px;
        font-size: 1.2rem ;
    
    }
    /*operate*/

    #operate {
        height: 900px;
        height: 90vh;
        padding-top: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #operate h2 {
        text-align: center;
        width: 100%;
    }

    #operate div {
        flex-grow: 1;
        flex-basis: 600px;
        padding: 0 10px;
    }

    /*contact*/


    iframe{
        padding-left: 0vh;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}