/* navigation ==============================================================*/

#home {
    display: flex;
    background-color: var(--fundo-principal);
    color: white;
    justify-content: center;

}

.logo {
    width: 30%;
}

.logo img {
    align-items: center;
    margin: 1rem;
}

.home {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--fundo-principal);
    justify-content: space-around;
}

.home nav {
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}


.buttontop:hover {
    color: var(--cor-principal);
} 


/* header ==================================================================*/

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/background1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 16rem;
    margin: 0px;
    font-size: 6rem;
    font-weight: 500;
    line-height: 6rem;
    font-family: 'Times New Roman', serif;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
header p {
    padding-bottom: 16rem;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.3rem;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

/* info ===============================================*/

#info {
    background-color: var(--fundo-segundario);
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 6rem;

}

.info-texto {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.info-texto h2 {
    font-size: 3rem;
    margin-bottom: -1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
}

.info-texto p {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    color: #707070;
}

.info-texto span {
    margin-top: 1.3rem;
    width: 7rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

.info-foto{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.info-foto img {
    width: 80%;
}

/* operate ===============================================*/

#operate {
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../Images/background2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 1rem;
}

#operate h2 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

#operate .line {
    margin: 1rem;
    width: 11rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

.cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,400px);
    padding: 1rem;
    justify-content: center;
    justify-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
}

.card img {
    width: 7rem;
    padding: 1rem;
}

.card span {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 500;
}

.card p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.7rem;
}

/* mvv===================================================*/

#mvv {
    background-color: var(--fundo-segundario);
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
}

.mvv {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mvv h2 {
    margin: 0;
    font-size: 3rem;
    margin-bottom: -1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
}

#mvv p {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    color: #707070;
    text-align: center;
}

#mvv span {
    margin-top: 1.3rem;
    width: 7rem;
    border-color: var(--cor-principal);
    border-style: solid;
}

/* contact===============================================*/

#contact  {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  var(--fundo-principal);
    color: white;
}

.contact-info  p {
    margin-top: 1.4rem;
    margin-bottom: 0;
    font-size: 2rem;
}

.contact-info li,i {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.contact-info .social-midia {
    display: flex;
    flex-direction: row;
}

.smicon {
    margin-left: 10px;
    margin-top: 2rem;
}

.smicon:first-child {
    margin: 1.3rem -10px -10px -10px;

}

/* footer==================================================================*/

footer {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1,3rem;
}


/* animations Text=========================================================*/

@keyframes text-focus-in {
    0% {
      filter: blur(6px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

/* midia==================================================================*/

